.sidebar {
  padding: 32px 20px;
  background: #0f172a;
  border-right: 1px solid #334155;
  color: #f1f5f9;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 0;
  cursor: pointer;
  color: #f1f5f9;
}

li:hover {
  color: #6366f1;
}

li.active {
  color: #6366f1;
  font-weight: bold;
}