<div class="header">
  <h1>Specification Review</h1>
  <div>
    @if (hasNonTechArtifacts() && !hasTechnicalArtifacts()) {
      <button class="approve-btn" (click)="approveSpec()">Approve Specs</button>
      <button class="preview-btn" (click)="togglePreview()">{{ isPreviewMode() ? 'Edit Specs' : 'Preview Specs' }}</button>
    } @else if (hasTechnicalArtifacts() && !hasGeneratedCode()) {
      <button class="generate-btn" (click)="generateCode()">Generate Code</button>
      <button class="preview-btn" (click)="togglePreview()">{{ isPreviewMode() ? 'Edit Specs' : 'Preview Specs' }}</button>
    } @else if (hasGeneratedCode()) {
      <button class="preview-btn" (click)="togglePreview()">{{ isPreviewMode() ? 'Edit Specs' : 'Preview Specs' }}</button>
      <button class="view-prototype-btn" (click)="viewPrototype()">View Prototype</button>
    }
  </div>
</div>

<div class="container" [class]="{ 'stackblitz-mode': isStackblitzActive() }">
  @if (!isPreviewMode()) {
  <app-left-panel [selectedSection]="selectedSection" (sectionSelected)="onSectionSelect($event)">
  </app-left-panel>
  <app-right-panel [selectedSection]="selectedSection">
  </app-right-panel>
  } @else {
  @if (!isStackblitzActive()) {
  <app-left-panel [files]="files()" [selectedFile]="selectedFile" (fileSelected)="onFileSelect($event)">
  </app-left-panel>
  }
  <app-right-panel [selectedFile]="selectedFile" [mdText]="getMdText(selectedFile)" [isPreviewMode]="true">
  </app-right-panel>
  }
  <app-chatbox> </app-chatbox>
</div>